.Footer {
  margin-top: auto;
  background-color: #50ce9f;
  padding: 8px;
  text-align: center;
  color: #000;
  font-style: italic;
  font-size: 12px;
}

.Header {
  padding: 16px;
}

.Header-image {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 695px;
}

.UI {
  margin: 16px;
}
