/* Default browser style resets */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

button {
  background: none;
  padding: 0;
  cursor: pointer;
}

/* Site styles */

html,
body,
#root {
  height: 100%;
}

html {
  font-family: "Roboto", Arial, sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: linear-gradient(#d7f89f, #96e6cb);
}

#root {
  display: flex;
  flex-direction: column;
}
